/* SideBar */
.sidebar{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 25px;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #e6eaf1;
    cursor: pointer;
    font-size: 23px;
}

.sidebar .new-chat{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    cursor:pointer;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

.sidebar .icon{
    font-size: 20px;
}

/*Main Section*/
.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    padding: 15px 20px;
    color: #585858;
}

.main .nav span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main .nav .version{
    display: block;
    font-size: 10px;
    margin-left: 5px;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main-container .greet{
    margin: 50px 0px;
    font-size: 50px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main .cards{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    flex-grow: 1;
    height: 200px;
    border: 15px;
    border-radius: 10px;
    background-color: #f0f4f9;
    position: relative;
    cursor: pointer;
}

.main .card .card-icon{
    position: absolute;
    font-size: 25px;
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #585858;
    background-color: white;
    padding: 5px;
}

.main .card p{
    color: #585858;
    font-size: 17px;
    padding: 7%;
}

.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;

}

.search-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box .prompt-icon{
    font-size: 24px;
    width: 24px;
    cursor: pointer;
    margin: 5px;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 17px;
}

.search-box div{
    display: flex;
    align-items: center;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

/* Mobile */
@media (max-width: 600px) {
.main{
    flex: 1;
    min-height: 100%;
    padding-bottom: 10%;
    position: relative;
    }

.main .nav{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        font-size: 22px;
        padding: 15px 20px;
        color: #585858;
        }

.main .nav span{
    font-size: 25px;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}


.main-container{
    max-width: 100%;
    margin: auto;
}

.main-container .greet{
    margin: 20px 0px;
    font-size: 30px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .cards{
    display: grid;
    align-items:center;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 15px;
}

.main .card{
    flex-grow: 1;
    height: 100px;
    border: 15px;
    border-radius: 10px;
    background-color: #f0f4f9;
    position: relative;
    cursor: pointer;
}

.main .card p{
    color: #585858;
    font-size: 15px;
    padding: 5%;
}

.main-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding: 0px 20px;
    margin-top: 60%;

}

.search-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
    margin: 5px;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 17px;
}

.search-box div{
    display: flex;
    align-items: center;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.sidebar{
    min-height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 10px;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #e6eaf1;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    cursor:pointer;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    font-size: 10px;
    padding-right: 20px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}


}


